# Testing Report

## Coverage

```
        tugas-pertemuan-7               coverage: 0.0% of statements
        tugas-pertemuan-7/docs          coverage: 0.0% of statements
ok      tugas-pertemuan-7/handlers      0.914s  coverage: 0.0% of statements [no tests to run]
ok      tugas-pertemuan-7/middleware    0.885s  coverage: 0.0% of statements [no tests to run]
ok      tugas-pertemuan-7/models        0.626s  coverage: [no statements] [no tests to run]
        tugas-pertemuan-7/tests         coverage: 0.0% of statements
ok      tugas-pertemuan-7/tests/benchmarks      1.028s  coverage: [no statements] [no tests to run]
ok      tugas-pertemuan-7/tests/integration     1.031s  coverage: [no statements]
ok      tugas-pertemuan-7/utils 0.862s  coverage: 94.4% of statements
```

## Benchmark

```
goos: windows
goarch: amd64
pkg: tugas-pertemuan-7/tests/benchmarks
cpu: Intel(R) Core(TM) i5-10210U CPU @ 1.60GHz
BenchmarkGetStudents-8             25873             45610 ns/op
BenchmarkGenerateToken-8          194653              6041 ns/op
PASS
ok      tugas-pertemuan-7/tests/benchmarks      3.029s
```
